[
  {
    "accountName": "account1",
    "password": "password1",
    "games": [730, 1625450],
    "visible": true
  },
  {
    "accountName": "account2",
    "password": "password2",
    "games": [730],
    "visible": false
  }
]